.runeinput {
  width: 100px;
  height: 40px;
  margin: 0 .8rem;
  //background: rgb(69, 35, 8);
  border: none;

  text-align: center;
  color: #fff;
  //font-size: 18px;
}

.runenumber {
  width: 40px !important;
  height: 40px !important;
}

.runenumberlabel {
  width:40px !important;
}

.runeinputlabel {
  margin: 0 .6rem 0 1rem;
  width: 100px;
  font-weight: bold;
}
