.runeinput {
  width: 120px;
  height: 40px;
  margin: 0 .5rem;
  //background: rgb(69, 35, 8);
  border: none;


  text-align: center;
  //color: #fff;
  //font-size: 18px;
}

.runenumber {
  width: 40px !important;
  height: 40px !important;
}

.runenumberlabel {
  width:40px !important;
}

.runeinputlabel {
  margin: 0 .25rem 0 .5rem;
  width: 100px;
  font-weight: bold;
}

.btn-add {
  background-color: rgb(61, 27, 0);
  border: 3px solid rgb(49, 16, 0);
}
