<div class="row hero-info">
  <div class="container">
    <div class="row justify-content-center text-center">
      <h1 *ngIf="hero">{{ hero.name | titlecase}}</h1>
    </div>
    <div class="row justify-content-center ">
      <div class="col d-flex justify-content-center hero-cards-div">
        <div class="hero-cards">
          <img *ngIf="iconpaths" [src]="iconpaths.rarity" alt="">
          <img *ngIf="iconpaths" [src]="iconpaths.element" alt="" class="">
          <img *ngIf="iconpaths" [src]="iconpaths.class" alt="">
          <img *ngIf="iconpaths" [src]="iconpaths.img" alt="">


        </div>
      </div>
      <div class="col-xl-6 d-flex align-items-center justify-content-md-center">
        <div *ngIf="hero" class="hero-stats">
          <div>
            <div>Atk:</div>
            <div>{{ hero.atk }}</div>
          </div>
          <div>
            <div>Hp:</div>
            <div>{{ hero.hp }}</div>
          </div>
          <div>
            <div>Def:</div>
            <div>{{ hero.def }}</div>
          </div>
          <div>
            <div>Aps:</div>
            <div>{{ hero.aps }}</div>
          </div>
          <div>
            <div>Critrate:</div>
            <div>{{ hero.critrate }}</div>
          </div>
          <div>
            <div>Critdmg:</div>
            <div>{{ hero.critdmg }}</div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div>
  <div class="row m-5">
    <h2 class="col-4">Comments</h2>

  </div>
  <div class="row m-5">
    <div class="col cb-hero-details-comments" *ngFor="let comment of comments" [comment]="comment">

    </div>
  </div>
</div>
