<div #commentdiv class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="row comment">
        <div class="col-12 comment-author">
          <span><i class="bi-person-circle"></i></span><span class="">{{ comment.author_name }}</span>
        </div>
        <div class="mt-1">
          {{ comment.content.rendered }}
        </div>
        <div *ngIf="comment.author == currentUserId" class="col-12 text-end comment-delete" (click)="deletecomment(comment.id, commentdiv )">
          Löschen
        </div>
      </div>



    </div>
  </div>
</div>

