.needregister {
  margin-top: 1rem;
  border-top: 1px solid rgb(69, 35, 8, 0.5);
  font-size: 14px;
}

.login {
  background-color: rgb(69, 35, 8, 0.14);
  padding: 40px 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px 2px;
}
