$primary: rgb(69, 35, 8, 0.9);
//$primary: rgb(233, 233, 233, 1);

$btn-padding-y: .3rem;
$btn-padding-x: 2rem;

$table-color: #fff;
//$table-striped-bg-factor: .1;

$modal-content-color: #fff;
$modal-content-bg: #664a34;
$modal-inner-padding: 1rem .5rem;

$input-bg: rgb(69, 35, 8);
$input-color: #fff;
$form-select-indicator-color: #fff;
$input-border-color: rgb(49, 16, 0);
