<div class="container-fluid m-0 p-0">
  <div class="row justify-content-center align-items-center mt-5 mb-5 home">
    <div class="col-6 text-center mt-5">
      <img src="../../assets/hero-img/namida.png" alt="">

    </div>
    <div class="col-6">
      <h1 class="h1">Welcome to CTA-Builder</h1>
    </div>
  </div>

  <div class="row justify-content-center align-items-center home1">
    <div class="col-6  mt-5 text-center">
      <h2 class="px-md-5">Stay up to date and subscribe <br>to out Notifications</h2>
      <div class="mt-5">
        <button class="btn btn-primary" (click)="requestNotification()">Subscribe</button>
      </div>
    </div>

    <div class="col-6 mt-5 mb-5">
      <img src="../../assets/hero-img/darkhunter.png" alt="">
    </div>

  </div>
</div>
